* {
	margin:0;
}

html, body {
	height:100%;
}

h1, h2, h3, h4, h5, h6 p {
	margin-bottom: 20px;
}

#nav {
	height:50px;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	width:100%;
	z-index: 99;
	text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
    height: 50px;
}

#menu {
	height: 40px;
	width: 50px;
	background-image: url("images/menu.png");
}

.sect {
	height: 100%;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

.subSection {
	height: 80%;
	background-color: bisque;
}

.sect1{
	background-image: url("images/wall.jpg");
}

.sect2{
	background-image: url("images/phone.jpg");
}

.sect3{
	background-image: url("images/grasswork.jpg");
}